
/*Typography*/
html {font: 16px 'Optima', 'Roboto Condensed', Verdana, sans-serif;}
h1 {font-size: 1.6em;}
h2 {font-size: 1.3em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
p {font-size: 1.25em;}

/*layout*/

body {
  text-align: center; /* center text */
  margin: auto; /* center horizontally */
  display: flex; /* center vertically */
  flex-direction: column; /* center vertically */
  justify-content: center; /* center vertically */
}



.button-container {
  text-align: center; /* center buttons horizontally */
}

#dinner-count-container {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center; /* center text */
  margin: auto; /* center horizontally */
  display: flex; /* center vertically */
  flex-direction: column; /* center vertically */
  justify-content: center; /* center vertically */
}

#dinner-count {
  font-size: 24px;
}


#back-button {

background-color: #1F858D;
			color: #E39120;
			font-weight: bold;
			padding-top: 1px ;
			padding-bottom: 1px;
			height: 40;
			width: 60;
    			text-align: center; /* Center text */
      			text-decoration: none; /* Remove underline */
			border: none;
			border-radius: 10%;
			cursor: pointer;
			transition: transform 0.2s ease-in-out; /* add transition effect */
			font-size: 1.4em;
			font-color: orange;
			margin-bottom: 1em;
		}



#back-button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

